# **Project 3- Team 7**
## By: Juan Marin, James Lamotte, Zack Crowley, Matusola Bein

### Import dependencies

In [3]:
# Dependencies
import pandas as pd
import numpy as np
import json
import pymongo
import datetime

## Import .csv Data

- First read in the raw .csv data from the Zillow Home Value Index ("zhvi_allhomes_ts_county.csv") and Nat'l Risk Index data ("natl_risk_index_counties.csv") into DataFrames

In [11]:
# Zillow Home Value Index County Time Series data:
homes_file = "resources/zhvi_allhomes_ts_county.csv"
raw_homes_df = pd.read_csv(homes_file)
raw_homes_df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,217219.0,...,849467.0,867274.0,882623.0,884311.0,883805.0,870575.0,859871.0,848269.0,846262.0,845596.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,173902.0,...,301166.0,303308.0,306745.0,309530.0,311511.0,311997.0,312558.0,313027.0,313775.0,312317.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,115286.0,...,269990.0,275086.0,280076.0,283929.0,286477.0,288032.0,288399.0,289143.0,289720.0,289591.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,142739.0,...,457069.0,468583.0,477443.0,483784.0,481374.0,474787.0,464870.0,459841.0,454753.0,451699.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,225274.0,...,887685.0,906908.0,920069.0,919535.0,908231.0,897158.0,890169.0,885101.0,880975.0,874095.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2839,828,3104,Alpine County,county,CA,CA,NaN,6,3,NaN,...,534961.0,538712.0,542422.0,548593.0,557455.0,566050.0,573585.0,579363.0,NaN,550065.0
2840,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,441563.0,443118.0,445850.0,454891.0,463651.0,473080.0,475959.0,479312.0,469611.0,459053.0
2841,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,380127.0,382103.0,385765.0,393501.0,399756.0,405392.0,407476.0,408416.0,401934.0,393469.0
2842,1648,3129,Daggett County,county,UT,UT,NaN,49,9,NaN,...,311385.0,312248.0,313793.0,319364.0,325170.0,331901.0,334081.0,336763.0,331294.0,324937.0
2843,2518,3132,San Juan County,county,CO,CO,NaN,8,111,NaN,...,405284.0,406469.0,409306.0,418744.0,432064.0,445918.0,452978.0,456545.0,NaN,430784.0

In [10]:
# Nat'l Risk Index County level data:
risk_file = "resources/natl_risk_index_counties.csv"
raw_risk_df = pd.read_csv(risk_file)
raw_risk_df

,OBJECTID,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,POPULATION,...,WNTW_EALA,WNTW_EALT,WNTW_EALS,WNTW_EALR,WNTW_RISKS,WNTW_RISKR,NRI_VER,GlobalID,SHAPE_Length,SHAPE_Area
0,1,C21115,Kentucky,KY,21,Johnson,County,115,21115,23356,...,4.235939,47363.199731,19.448529,Relatively Moderate,14.131237,Relatively Low,November 2021,{55EC05F7-E576-469E-B728-EF2D3AEFD6DA},1.553484,0.070028
1,2,C21117,Kentucky,KY,21,Kenton,County,117,21117,159720,...,44.606252,64259.532691,21.530408,Relatively Moderate,12.470040,Relatively Low,November 2021,{0868CDAC-FE0A-489E-8E2E-D5B7EB7AD660},1.094178,0.044207
2,3,C21119,Kentucky,KY,21,Knott,County,119,21119,16346,...,0.023091,30809.754620,16.851393,Relatively Low,14.466270,Relatively Low,November 2021,{A448B94E-9172-4B0C-B74B-321B3CF39E66},1.694376,0.092941
3,4,C21121,Kentucky,KY,21,Knox,County,121,21121,31883,...,0.082573,61427.308851,21.209328,Relatively Moderate,19.585915,Relatively Moderate,November 2021,{BA4C9D7D-5891-4EEE-9B3B-BF1F9BA5AA4A},1.920543,0.101520
4,5,C21123,Kentucky,KY,21,Larue,County,123,21123,14193,...,246.668438,12870.385216,12.597091,Relatively Low,7.715952,Very Low,November 2021,{55A74C8C-E1FD-4C88-8343-D977E94CD0B1},1.830220,0.069616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,3138,C56037,Wyoming,WY,56,Sweetwater,County,37,56037,43806,...,0.000041,23921.162465,15.488184,Relatively Low,5.189094,Very Low,November 2021,{C7CFC6D9-C796-4982-AC9F-C4B6C553DBBA},7.661189,2.937303
3138,3139,C56039,Wyoming,WY,56,Teton,County,39,56039,21294,...,0.000078,10806.759196,11.884244,Relatively Low,4.816165,Very Low,November 2021,{7E4A5B21-8BAD-4DFE-B22C-416E8E06592F},5.113304,1.224324
3139,3140,C56041,Wyoming,WY,56,Uinta,County,41,56041,21118,...,27.256486,77290.242488,22.897143,Relatively Moderate,11.296648,Relatively Low,November 2021,{62AF87D6-33D1-4A2B-B490-850788C0000A},3.159364,0.581330
3140,3141,C56043,Wyoming,WY,56,Washakie,County,43,56043,8533,...,1.415514,5466.737290,9.469255,Very Low,8.193083,Very Low,November 2021,{31FCD0C8-FE5F-447F-A109-5AAE454B31F9},4.248322,0.650755
3141,3142,C56045,Wyoming,WY,56,Weston,County,45,56045,7208,...,6.880699,39946.691949,18.375254,Relatively Low,10.777060,Relatively Low,November 2021,{CEA1C4A7-A1B6-4260-A7B9-36698A20ECEE},3.408379,0.695661

### Clean raw .csv date:
- First, the Zillow data: